* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.pokemon-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.pokemon-list li {
  border: 1px solid black;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  align-items: center;
  cursor: pointer;
}

.pokemon-list li > * {
  position: absolute;
}

.list-name {
  top: 40%;
  font-size: 20px;
}

.list-type-title {
  margin-right: 5px;
}

.type-container {
  display: flex;
  top: 60%;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
