.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-info {
  font-family: Arial, Helvetica, sans-serif;
  max-height: 350px;
  max-width: 900px;
  width: 80%;
  margin: 0 auto;
  /* height: 380px; */
  position: relative;
  top: 20%;
  padding: 20px 25px;
  color: #000;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  background-color: #F3F3F3;
  animation: bounceInDown .5s;
}

.modal-header {
  display: flex;
}

.modal-title {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.modal-left {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 0 50px -35px #7f8c8d;
  width: 40%;
  border-radius: 20px;
  text-align: center;
  padding-bottom: 20px;
}

.modal-left>div:first-of-type{
  height: 130px;
  position: relative;
}

.types {
  display: flex;
  align-self: center;
  width: 50%;
  justify-content: space-around;
}

.modal-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 60%;
}



.modal-pokemon-number {
  font-size: 7.5vw;
  margin: 0;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: rgb(234,232,231);
}

.modal-pokemon-name {
  margin: 0;
  text-align: center;
  color: #696560;
}

.modal-img {
  width: 150px;
  height: 150px;
  position: absolute;
  /* position: sticky; */
  left: 43%;
  top: 65%;
  
  transform: translate(-50%, -50%);
}

.stat-block {
  width: 130px;
  display: flex;
  justify-content: space-around;
}
.stat-block>*{
  margin: 0;
}

.stat-title {
  margin: 0;
  padding-bottom: 10px;
}

.stat-container {
  height: 100%;
}

.stat-bars{
  color: #ABA6A3;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.stat-bars>div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.stat-bars>div>*{
  margin: 0;
  margin-left: 20px;
}

.bar-container {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stat-name {
  font-size: 20px;
  font-weight: 600;
}

.abilities-container {
  margin: 0;
  margin-top: 10px;
}

.abilities-container h2 {
  margin-top: 8px;
  font-size: 1.5rem;
}

.abilities {
  display: flex;
  margin-left: 35px;
  padding-left: 0;
  gap: 50px;
}

/* Animations */

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    animation-timing-function: cubic-bezier(.215, .61, .355, 1)
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0) scaleY(3);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0) scaleY(.9);
  }
  75%{
    transform: translate3d(0, -10, 0) scaleY(.95);
  }
  90% {
    transform: translate3d(0, 5px, 0) scaleY(.985);
  }
  100% {
    transform: translateZ(0);
  }
  
}